body {
    text-align: center;
}
<<<<<<< HEAD
=======

#button {
	background: #22f;
	border-radius: 5px;
	height: 36px;
	color: white;
	font-weight: bold;
}

#button:hover {
	background: white;
	color: blue;
}
>>>>>>> gh-pages
