body {
    text-align: center;
}

div {
	margin-bottom: 10px;
}

#button {
	background: #22f;
	border-radius: 5px;
	height: 32px;
	color: white;
	font-weight: bold;
}

#button:hover {
	background: white;
	color: blue;
}